@model IEnumerable<BudgetManager.Models.Category>

@{
    ViewData["Title"] = "Registered categories";

     string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="tables">
    @if (TempData["Action"] != null)
    {
        <div class="alert alert-success">
            <h5 class="alert-heading"> <i class="fas fa-exclamation-triangle"></i> Action done</h5>
            <p>@TempData["Action"].ToString()</p>
        </div>

    }

    <div class="card">
        <div class="card-header">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        Categories registered - <span class="badge badge-pill badge-info">@Model.Count()</span>
                    </div>
                    <div class="col-8 text-right">
                        <a asp-action="Create" class="btn btn-success btn-sm">New Category</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-striped table-hover table-sm" id="myTable">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="text-center">
                                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-outline-primary btn-sm"><i class="far fa-edit"></i></a> &emsp;
                                    <a class="btn btn-outline-danger btn-sm" onclick="DeleteData(@item.CategoryId, '@controller')"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="ModalDelete" />

@section Scripts{

    <script src="~/js/InitializeDataTables.js"></script>
    <script src="~/js/DeleteFunction.js"></script>

}
